div.field_with_errors {
  background-color: #fcc;
  padding: 2px;
}

#logo {
  text-decoration: none;
}

#form {
  transform: scale(0.7);
}

#task_label_ids_1 {
  margin-left: 15px;
  background-color: red;
}

#task_label_ids_2 {
  margin-left: 15px;
}

#task_label_ids_3 {
  margin-left: 15px;
}

#task_label_ids_4 {
  margin-left: 15px;
}

#task_label_ids_5 {
  margin-left: 15px;
}

#task_label_ids_6 {
  margin-left: 15px;
}